* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: rgb(231, 243, 247);
}

a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: rgb(0, 142, 189);
  padding: 10px 45px;
}

a:hover {
  opacity: .3;
}

ul {
  list-style-type: none;
}

li {
  font-size: 20px;
}

li:hover {
  background: lightblue;
}

main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;
  padding: 0 40px;
}

.hamburger {
  font-size: 25px;
  padding: 10px;

  animation: growAndShrink 2.5s infinite linear;
}

@keyframes growAndShrink {
  0% {
    font-size: 25px;
  }
  50% {
    font-size: 30px;
  }
  100% {
    font-size: 25px;
  }
}

svg {
  width: 100%;
  min-width: 150px;
  /* margin-left: -45px; */
  /* position: relative;
  left: -11%; */
}

.sidebar {
  padding: 20px 0px;
  background: white;
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: absolute;
  top: 0px;
  left: -600px;
  transition: .4s;
}

.show-sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
}

.closeBtn {
  width: 20px;
}

.logo-and-close-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
    
  }
  .closeBtn {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0 30px 0 0;
  }
  svg {
    width: 40%;
  }
  .logo-and-close-btn {
    padding: 0px 40px;
  }
}